<main id="main" class="main">
    <div class="pagetitle">
        <h1>Tạo đơn hàng</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
                <li class="breadcrumb-item"><a routerLink="/create-order">Tạo đơn hàng</a></li>
            </ol>
        </nav>
    </div>
    <section class="section profile">
        <div class="row">
            <div class="col-xl-7">
                <div class="card">
                    <div class="card-body pt-1">
                        <p class="badge bg-warning" style="font-size: 0.7rem; margin-top: 0.7rem;;">ĐỒ
                            MỚI</p>
                        <form>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Mã QR:</label>
                                <div class="col-sm-10"> <input type="text" class="form-control"></div>
                            </div>
                        </form>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Mâm</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Position</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Start Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <th><a href="#">#2644</a></th>
                                    <td><span class="badge bg-success">Approved</span></td>
                                    <td>Brandon Jacob</td>
                                    <td>Designer</td>
                                    <td>28</td>
                                    <td>2016-05-25</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <th><a href="#">#2644</a></th>
                                    <td><span class="badge bg-success">Approved</span></td>
                                    <td>Bridie Kessler</td>
                                    <td>Developer</td>
                                    <td>35</td>
                                    <td>2014-12-05</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <th><a href="#">#2644</a></th>
                                    <td><span class="badge bg-success">Approved</span></td>
                                    <td>Ashleigh Langosh</td>
                                    <td>Finance</td>
                                    <td>45</td>
                                    <td>2011-08-12</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <th><a href="#">#2644</a></th>
                                    <td><span class="badge bg-success">Approved</span></td>
                                    <td>Angus Grady</td>
                                    <td>HR</td>
                                    <td>34</td>
                                    <td>2012-06-11</td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <th><a href="#">#2644</a></th>
                                    <td><span class="badge bg-success">Approved</span></td>
                                    <td>Raheem Lehner</td>
                                    <td>Dynamic Division Officer</td>
                                    <td>47</td>
                                    <td>2011-04-19</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="card overflow-auto">
                    <div class="card-body pt-1">
                        <p class="badge bg-secondary" style="font-size: 0.7rem; margin-top: 0.7rem;">ĐỒ
                            CŨ</p>
                        <form>
                            <div class="row mb-3">
                                <div class="col-lg-7 mb-3 row">
                                    <!-- <div> -->
                                    <label for="inputText" class="col-sm-3 col-form-label">Loại:</label>
                                    <!-- </div> -->
                                    <div class="col-sm-7 px-0">
                                        <select name="old-item-gold-type" id="old-item-gold-type" class="form-select" [(ngModel)]="oldItemGoldType">
                                            <option selected disabled>--</option>
                                            <optgroup label="Vàng 18k">
                                                <option value="610">610</option>
                                                <option value="600">600</option>
                                                <option value="590">590</option>
                                                <option value="18k lạ">18k lạ</option>
                                            </optgroup>
                                            <optgroup label="Vàng 24k">
                                                <option value="999">999</option>
                                                <option value="990">990</option>
                                                <option value="980">980</option>
                                                <option value="24k lạ">24k lạ</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-5 mb-3 row">
                                    <label for="inputText" class="col-sm-4 col-form-label">KLT:</label>
                                    <div class="col-sm-8 ps-0">
                                        <input type="text" class="form-control" appGoldWeightFormat [(ngModel)]="oldItemTotalWeight">
                                    </div>
                                </div>
                                <div class="col-lg-7 mb-3 row">
                                    <label for="gia-mua" class="col-sm-3 col-form-label" *ngIf="!isOldItemExchange">Mua:
                                    </label>
                                    <label for="gia-doi" class="col-sm-3 col-form-label" *ngIf="isOldItemExchange">Đổi:
                                    </label>
                                    <div class="col-sm-7 px-0">
                                        <input *ngIf="!isOldItemExchange" type="text" class="form-control" appNumberOnlyFormat [(ngModel)]="oldItemBuyPrice">
                                        <select *ngIf="isOldItemExchange" class="form-select" [(ngModel)]="oldItemExchangePrice">
                                            <option value="option1">0 <span class="buy-price-for-exchange">(m.600)</span></option>
                                            <option value="option1">0 <span class="buy-price-for-exchange">(m.600)</span></option>
                                            <option value="option1">120 <span class="buy-price-for-exchange">(m.600)</span></option>
                                            <option value="option1">120 <span class="buy-price-for-exchange">(m.600)</span></option>
                                            <option value="option1">120 <span class="buy-price-for-exchange">(m.600)</span></option>
                                            <option value="option1">120 <span class="buy-price-for-exchange">(m.600)</span></option>
                                            <option value="option1">120 <span class="buy-price-for-exchange">(m.600)</span></option>
                                            <option value="option1">120 <span class="buy-price-for-exchange">(m.600)</span></option>
                                            <option value="option1">120 <span class="buy-price-for-exchange">(m.600)</span></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2 ps-0">
                                        <button class="btn btn-secondary change-old-item-function" (click)="changeOldItemFunction()"><i class="ri-exchange-funds-fill"></i></button>
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-3 row">
                                    <label for="inputText" class="col-sm-4 col-form-label" style="padding-right: 0;">H:</label>
                                    <div class="col-sm-8"> 
                                        <input type="text" class="form-control" appGoldWeightFormat [(ngModel)]="oldItemGemWeight">
                                    </div>
                                </div>
                                <div class="col-lg-2 ps-5">
                                    <button type="submit" class="btn btn-primary">+</button>
                                </div>
                            </div>
                        </form>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Loại</th>
                                    <th width="40%" scope="col">KLT - H = KLV</th>
                                    <th scope="col"><i class="ri-exchange-funds-fill"></i> Mua/Đổi</th>
                                    <th scope="col">Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of oldItemRows; let i = index">
                                    <th>{{ item.goldType }}</th>
                                    <td>{{ item.totalWeight }} - {{ item.gemWeight }} = <strong>{{ item.realWeight }}</strong></td>
                                    <td *ngIf="item.isExchange"><span class="badge bg-success">ĐỔI</span> {{ item.exchangePrice }}</td>
                                    <td *ngIf="!item.isExchange"><span class="badge bg-warning">MUA</span> {{ item.buyPrice }}</td>
                                    <td>
                                        <button class="btn btn-outline-dark">
                                            <i class="bi bi-trash-fill"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body pt-1">
                        <p class="badge bg-info" style="font-size: 1rem; margin-top: 0.7rem;;">Tổng tiền</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>