/* .nav-tabs .nav-item .nav-link {
    background-color: #0080FF;
    color: #FFF;
} */

/* .nav-tabs .nav-item .nav-link.active {
    color: #fbfbfc;
    background-color: #4154f1;
} */

/* .tab-content {
    border: 1px solid #484849;
    border-top: transparent;
    padding: 15px;
}

.tab-content .tab-pane {
    background-color: #5a5959;
    min-height: 200px;
    height: auto;
} */

table {
    font-size: 0.7rem;
}