<main id="main" class="main">
    <div class="pagetitle">
        <h1>Chuộc - đóng lãi</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
                <li class="breadcrumb-item active">Chuộc - đóng lãi</li>
            </ol>
        </nav>
    </div>
    <section class="section profile">
        <div class="row">
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <div class="profile-overview">
                            <h5 class="card-title">Khách hàng</h5>
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label ">Tên</div>
                                        <div class="col-lg-9 col-md-8"><strong>Nguyễn Văn A</strong></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">SĐT</div>
                                        <div class="col-lg-9 col-md-8">0123456789</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">CCCD</div>
                                        <div class="col-lg-9 col-md-8">1234 5842 3923</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Địa chỉ</div>
                                        <div class="col-lg-9 col-md-8">USA</div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <img src="/" alt="CCCD mặt trước">
                                        </div>
                                        <div class="col-md-6">
                                            <img src="/" alt="CCCD mặt sau">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5 class="card-title">Đồ cầm</h5>
                            <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores
                                cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure
                                rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at
                                unde.</p>

                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary disabled">Xác nhận chuộc</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <h2>Jassa</h2>
                        <h3>Web Designer</h3>
                        <div class="social-links mt-2"> <a href="#" class="twitter"><i class="bi bi-twitter"></i></a> <a
                                href="#" class="facebook"><i class="bi bi-facebook"></i></a> <a href="#"
                                class="instagram"><i class="bi bi-instagram"></i></a> <a href="#" class="linkedin"><i
                                    class="bi bi-linkedin"></i></a></div>
                    </div>
                    <hr>
                    <form class="row p-3">
                        <div class="col-md-7">
                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0"></legend>
                                <div class="col-sm-10">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                        1
                                        tháng </label>
                                        <br>
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                    <label class="form-check-label" for="gridRadios2"> 2 tháng </label>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-5">
                            <button type="submit" class="btn btn-warning me-3 disabled">Đóng lãi</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>