<div class="card recent-sales overflow-auto" style="border: 2px #6C757D solid;">
    <div class="card-body">
        <p class="badge bg-secondary" style="font-size: 0.7rem; margin-top: 0.7rem;">ĐỒ
            CŨ</p>
        <form>
            <div class="row mb-3">
                <div class="col-lg-12 mb-3 row">
                    <div class="col-lg-6 row">
                        <label for="inputText" class="col-sm-2 col-form-label" style="padding-right: 0;">Tên:</label>
                        <div class="col-sm-10" style="padding-left: 0;"> <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 row" style="padding: 0 0 0 4.3rem;">
                        <!-- <div> -->
                        <label for="inputText" class="col-sm-4 col-form-label" style="padding-right: 0;">Loại:
                            <span class="text-danger">*</span></label>
                        <!-- </div> -->
                        <div class="col-sm-8" style="padding: 0 0rem 0 0;">
                            <select name="cars" id="cars" class="form-select">
                                <option>Chọn loại vàng</option>
                                <optgroup label="Vàng 18k">
                                    <option value="volvo">610</option>
                                    <option value="saab">600</option>
                                    <option value="saab">590</option>
                                    <option value="saab">lạ</option>
                                </optgroup>
                                <optgroup label="Vàng 24k">
                                    <option value="mercedes">999</option>
                                    <option value="audi">990</option>
                                    <option value="audi">980</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mb-3 row">
                    <div class="col-lg-4 row">
                        <label for="inputText" class="col-sm-4 col-form-label" style="padding-right: 0;">TL:
                            <span class="text-danger">*</span></label>
                        <div class="col-sm-8" style="padding-left: 0;"> <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-3 row">
                        <label for="inputText" class="col-sm-4 col-form-label" style="padding-right: 0;">H:
                            <span class="text-danger">*</span></label>
                        <div class="col-sm-8" style="padding-left: 0;"> <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-4 row" style="padding: 0 0 0 2rem;">
                        <label for="inputText" class="col-sm-4 col-form-label">Giá:
                            <span class="text-danger">*</span></label>
                        <div class="col-sm-8"> <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-1" style="padding-left: 5rem;">
                        <button type="submit" class="btn btn-primary">+</button>
                    </div>
                </div>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Code</th>
                    <th scope="col">Mâm</th>
                    <th scope="col">Name</th>
                    <th scope="col">Position</th>
                    <th scope="col">Age</th>
                    <th scope="col">Start Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <th><a href="#">#2644</a></th>
                    <td><span class="badge bg-success">Approved</span></td>
                    <td>Brandon Jacob</td>
                    <td>Designer</td>
                    <td>28</td>
                    <td>2016-05-25</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <th><a href="#">#2644</a></th>
                    <td><span class="badge bg-success">Approved</span></td>
                    <td>Bridie Kessler</td>
                    <td>Developer</td>
                    <td>35</td>
                    <td>2014-12-05</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <th><a href="#">#2644</a></th>
                    <td><span class="badge bg-success">Approved</span></td>
                    <td>Ashleigh Langosh</td>
                    <td>Finance</td>
                    <td>45</td>
                    <td>2011-08-12</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>