<main id="main" class="main">
    <div class="pagetitle">
        <div class="row">
            <div class="col-lg-8">
                <h1>Tạo đơn cầm</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a routerLink="/">Tạo đơn cầm</a></li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-4">
                <form>
                    <div class="row mb-3">
                        <div class="col-sm-10"> <input type="text" class="form-control" placeholder="Đơn cầm cũ"></div>
                        <button class="col-sm-2 btn btn-secondary">Nhập</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <section class="section profile">
        <div class="row">
            <div class="col-xl-5">
                <div class="card">
                    <div class="card-body pt-3">
                        <p class="badge bg-secondary" style="font-size: 0.7rem; margin-top: 0.7rem;">KHÁCH HÀNG</p>
                        <form>
                            <div class="row mb-3">
                                <div class="row mb-3">
                                    <div class="col-sm-10"> <input type="text" class="form-control"
                                            placeholder="Tìm bằng số điện thoại"></div>
                                    <button class="col-sm-2 btn btn-secondary"><i class="bi bi-search"></i></button>
                                </div>
                            </div>
                            <hr>
                            <div class="row mb-3">
                                <label for="inputText"
                                    class="col-sm-4 col-form-label">
                                    <i class="bi bi-file-earmark-person-fill"></i> Tên KH: <span
                                        class="text-danger">*</span>
                                </label>
                                <div class="col-sm-8"> <input type="text" class="form-control"></div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputEmail" class="col-sm-4 col-form-label">SĐT:</label>
                                <div class="col-sm-8"> <input type="email" class="form-control"></div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputPassword" class="col-sm-4 col-form-label">CCCD:</label>
                                <div class="col-sm-8"> <input type="password" class="form-control"></div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-4 col-form-label">Địa chỉ:</label>
                                <div class="col-sm-8"> <input type="number" class="form-control"></div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-4 col-form-label">Ảnh CCCD (Tr):</label>
                                <div class="col-sm-8"> <input class="form-control" type="file" id="formFile"></div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-4 col-form-label">Ảnh CCCD (S):</label>
                                <div class="col-sm-8"> <input class="form-control" type="file" id="formFile"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-7">
                <div class="card">
                    <div class="card-body pt-3">
                        <p class="badge bg-secondary" style="font-size: 0.7rem; margin-top: 0.7rem;">ĐỒ
                            CẦM</p>
                        <form>
                            <div class="row">
                                <div class="col-lg-7 mb-3 row">
                                    <label for="inputText" class="col-sm-3 col-form-label">Tên: <span
                                            class="text-danger">*</span></label>
                                    <div class="col-sm-9 ps-1 pe-3" style="padding-left: 0;"> <input type="text"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-5 mb-3 row">
                                    <!-- <div> -->
                                    <label for="inputText" class="col-sm-4 col-form-label">Loại:
                                        <span class="text-danger">*</span></label>
                                    <!-- </div> -->
                                    <div class="col-sm-8">
                                        <select name="cars" id="cars" class="form-select">
                                            <option>--</option>
                                            <optgroup label="Vàng 18k">
                                                <option value="volvo">610</option>
                                                <option value="saab">600</option>
                                                <option value="saab">590</option>
                                                <option value="saab">lạ</option>
                                            </optgroup>
                                            <optgroup label="Vàng 24k">
                                                <option value="mercedes">999</option>
                                                <option value="audi">990</option>
                                                <option value="audi">980</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-5 mb-3 row">
                                    <label for="inputText" class="col-sm-4 col-form-label">TL:
                                        <span class="text-danger">*</span></label>
                                    <div class="col-sm-8"> <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-3 row">
                                    <!-- Hiển thị chữ -->
                                </div>
                                <div class="col-lg-1 mb-3">
                                    <button type="submit" class="btn btn-primary">+</button>
                                </div>
                            </div>
                        </form>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Tên</th>
                                    <th scope="col">Loại vàng</th>
                                    <th scope="col">Trọng lượng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <th><a href="#">#2644</a></th>
                                    <td><span class="badge bg-success">Approved</span></td>
                                    <td>Brandon Jacob</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <th><a href="#">#2644</a></th>
                                    <td><span class="badge bg-success">Approved</span></td>
                                    <td>Bridie Kessler</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <th><a href="#">#2644</a></th>
                                    <td><span class="badge bg-success">Approved</span></td>
                                    <td>Ashleigh Langosh</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <th><a href="#">#2644</a></th>
                                    <td><span class="badge bg-success">Approved</span></td>
                                    <td>Ashleigh Langosh</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <th><a href="#">#2644</a></th>
                                    <td><span class="badge bg-success">Approved</span></td>
                                    <td>Ashleigh Langosh</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body pt-3">
                        <form>
                            <div class="row mb-3">
                                <label for="inputNumber"
                                    class="col-sm-4 col-form-label border border-2 border-info rounded-pill">
                                    <i class="bi bi-currency-exchange"></i> Số tiền: <span class="text-danger">*</span>
                                </label>
                                <div class="col-sm-8"> <input type="text" class="form-control" appNumberFormat (input) = "convertToWords($event)"></div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-12 col-form-label">
                                    <h2 class="font-weight-bold">{{ convertedValue }}</h2>
                                </label>
                                <!-- <div class="col-sm-8"> <input type="number" class="form-control"></div> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>