<main id="main" class="main">
    <div class="pagetitle">
        <div class="row">
            <div class="col-lg-8">
                <h1>Tạo đơn cầm</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a routerLink="/">Tạo đơn cầm</a></li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-4">
                <form>
                    <div class="row mb-3">
                        <div class="col-sm-10"> <input type="text" class="form-control" placeholder="Đơn cầm cũ"></div>
                        <button class="col-sm-2 btn btn-secondary" (click)="reload()"><i
                                class="bi bi-arrow-clockwise"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body pt-3">
                        <p class="badge bg-secondary" style="font-size: 0.7rem; margin-top: 0.7rem;">KHÁCH HÀNG</p>
                        <form>
                            <div class="row mb-3">
                                <div class="row mb-3">
                                    <div class="col-sm-10"> <input type="text" class="form-control"
                                            placeholder="Tìm bằng số điện thoại"></div>
                                    <button class="col-sm-2 btn btn-secondary"><i class="bi bi-search"></i></button>
                                </div>
                            </div>
                        </form>
                        <hr>
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-4 col-form-label">
                                <i class="bi bi-file-earmark-person-fill"></i> Tên KH: <span
                                    class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8"> <input [(ngModel)]="customerName" type="text" class="form-control">
                            </div>
                        </div>
                        <button (click)="showExtendedCustomerInfo = !showExtendedCustomerInfo"
                            class="btn btn-secondary mb-3">Thêm thông tin <i
                                class="bi bi-caret-down-square-fill"></i></button>
                        <div *ngIf="showExtendedCustomerInfo">
                            <div class="row mb-3">
                                <label for="phone" class="col-sm-4 col-form-label">SĐT:</label>
                                <div class="col-sm-8"> <input name="phone" type="tel" class="form-control"></div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputPassword" class="col-sm-4 col-form-label">CCCD:</label>
                                <div class="col-sm-8"> <input type="password" class="form-control"></div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-4 col-form-label">Địa chỉ:</label>
                                <div class="col-sm-8"> <input type="number" class="form-control"></div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-4 col-form-label">Ảnh CCCD (Tr):</label>
                                <div class="col-sm-8"> <input class="form-control" type="file" id="formFile"></div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-4 col-form-label">Ảnh CCCD (S):</label>
                                <div class="col-sm-8"> <input class="form-control" type="file" id="formFile"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <p class="badge bg-secondary" style="font-size: 0.7rem; margin-top: 0.7rem;">
                            ĐỒ CẦM
                        </p>
                        <span class="text-danger ms-5" *ngIf="emptyItemInputError !== ''">
                            <!-- <strong><em>{{ emptyItemInputError }}</em></strong> -->
                            {{ emptyItemInputError }}
                        </span>
                        <!-- <form #itemForm="ngForm" id="item-form" (ngSubmit)="onSubmitItemForm(itemForm)" class="needs-validation"
                            novalidate>
                            <div class="row">
                                <div class="col-lg-7 mb-3 row">
                                    <label for="item-name" class="col-sm-3 col-form-label">Tên: <span
                                            class="text-danger">*</span></label>
                                    <div class="col-sm-9 ps-1 pe-3">
                                        <input name="item-name" type="text" class="form-control" ngModel required>
                                        <div class="invalid-feedback">Không bỏ trống</div>
                                    </div>
                                </div>
                                <div class="col-lg-5 mb-3 row">
                                    <label for="inputText" class="col-sm-4 col-form-label">Loại:
                                        <span class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <select name="gold-type" id="gold-type" class="form-select" ngModel required>
                                            <option selected disabled></option>
                                            <optgroup label="Vàng 18k">
                                                <option value="610">610</option>
                                                <option value="600">600</option>
                                                <option value="590">590</option>
                                            </optgroup>
                                            <optgroup label="Vàng 24k">
                                                <option value="24k">24k</option>
                                                <option value="23k">23k</option>
                                            </optgroup>
                                        </select>
                                        <div class="invalid-feedback">Không bỏ trống</div>
                                    </div>
                                </div>
                                <div class="col-lg-5 mb-3 row">
                                    <label for="item-real-weight" class="col-sm-4 col-form-label">KLV:
                                        <span class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" id="item-real-weight" step="0.1" pattern="^\d+(\.\d{1})?$"
                                            name="item-real-weight" class="form-control"
                                            (input)="convertToWeightUnit($event)" ngModel required appGoldWeightFormat>
                                        <div class="invalid-feedback">Không bỏ trống</div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-3 row">
                                    <h2 class="font-weight-bold">{{ convertedGoldWeightUnitString }}</h2>
                                </div>
                                <div class="col-lg-1 mb-3">
                                    <button class="btn btn-primary" type="submit">+</button>
                                </div>
                            </div>
                        </form> -->
                        <form>
                            <div class="row">
                                <div class="col-lg-7 mb-3 row">
                                    <label for="item-name" class="col-sm-3 col-form-label">Tên: <span
                                            class="text-danger">*</span></label>
                                    <div class="col-sm-9 ps-1 pe-3">
                                        <input name="item-name" type="text" class="form-control" [(ngModel)]="itemName"
                                            [ngClass]="{'is-invalid': ( itemName === '' && emptyItemInputError !== '' )}">
                                    </div>
                                </div>
                                <div class="col-lg-5 mb-3 row">
                                    <label for="inputText" class="col-sm-4 col-form-label">Loại:
                                        <span class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <select name="gold-type" id="gold-type" class="form-select"
                                            [(ngModel)]="goldType"
                                            [ngClass]="{'is-invalid': ( goldType === '' && emptyItemInputError !== '' )}">
                                            <option selected disabled></option>
                                            <optgroup label="Vàng 18k">
                                                <option value="610">610</option>
                                                <option value="600">600</option>
                                                <option value="590">590</option>
                                            </optgroup>
                                            <optgroup label="Vàng 24k">
                                                <option value="24k">24k</option>
                                                <option value="23k">23k</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-5 mb-3 row">
                                    <label for="item-real-weight" class="col-sm-4 col-form-label">KLV:
                                        <span class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" id="item-real-weight" name="item-real-weight"
                                            class="form-control" (input)="convertToWeightUnit($event)"
                                            [(ngModel)]="itemRealWeight" appGoldWeightFormat
                                            [ngClass]="{'is-invalid': ( itemRealWeight === '' && emptyItemInputError !== '' )}">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-3 row">
                                    <h2 class="bold-letters bg-light bg-gradient">{{ convertedGoldWeightUnitString }}
                                    </h2>
                                </div>
                                <div class="col-lg-1 mb-3">
                                    <button class="btn btn-primary" (click)="addItemToRows()">+</button>
                                </div>
                            </div>
                        </form>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th width="10%" scope="col">STT</th>
                                    <th width="50%" scope="col">Tên</th>
                                    <th width="20%" scope="col">Loại vàng</th>
                                    <th width="20%" scope="col">Trọng lượng</th>
                                    <th width="10%">Xoá</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of itemRows; let i = index">
                                    <td width="10%">{{ i + 1 }}</td>
                                    <td width="50%">{{ row.itemNameRow }}</td>
                                    <td width="10%">{{ row.goldTypeRow }}</td>
                                    <td width="20%">{{ row.itemRealWeightRow }}</td>
                                    <td width="10%"><button (click)="removeRow(row)" class="btn btn-outline-dark"><i
                                                class="bi bi-trash-fill"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body pt-3">
                                <form>
                                    <div class="row mb-3">
                                        <label for="interest-rate" class="col-sm-4 px-0 col-form-label"> L.Suất: <span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-8">
                                            <select name="interest-rate" id="interest-rate" class="form-select"
                                                [(ngModel)]="interestRate">
                                                <option value="1" selected>Nhóm 1</option>
                                                <option value="2" disabled>Nhóm 2</option>
                                                <option value="3" disabled>Nhóm 3</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-body pt-3">
                                <form>
                                    <div class="row mb-3">
                                        <label for="inputNumber" class="col-sm-3 px-0 col-form-label">
                                            <i class="bi bi-currency-exchange"></i> Số tiền: <span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-5"> <input type="text" class="form-control" appMoneyFormat
                                                (input)="convertToWords($event)"></div>
                                        <div class="col-sm-4 d-flex justify-content-end">
                                            <button type="button" class="btn btn-primary">TẠO ĐƠN CẦM</button>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <h1 class="font-weight-bold">{{ convertedMoneyNumber }}</h1>
                                        <p class="font-weight-bold" style="background-color:bisque">{{
                                            convertedMoneyString }}</p>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>